@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overpass-Mono:400&display=swap');

*{
  font-family: 'Bebas Neue', sans-serif;
}

h2{
  font-size: 2.8vw;
}

h3{
  font-size: 2.3vw;
}

p{
  color: #063a2b;
  font-family: 'Arbutus Slab', serif;
  font-size: 1.15vw;
}

a{
  color: #11a579;
  font-family: 'Arbutus Slab', serif;
}

em{
  font-family: 'Arbutus Slab', serif;
}

strong{
  font-family: 'Arbutus Slab', serif;
  font-weight: 700;
}

ol, ul, li{
  font-family: 'Arbutus Slab', serif;
}

code{
  color: #11a579;
  font-family: 'Overpass Mono', monospace;
}

.title{
  color: #11a579;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 7vw;
}

.header{
  color: #11a579;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4vw;
}

.subtitle{
  color: #063a2b;
  font-size: 5vw;
  font-weight: 700;
}

.caption{
  color: #7b8b84;
  font-size: 2vw;
}

.about{
  color: #ebebeb;
  font-family: 'Arbutus Slab', serif;
  font-size: 1.4vw;
}

.source{
  color: #063a2b;
  font-family: 'Arbutus Slab', serif;
  font-size: .9vw;
  text-align: left;
}

.correl{
  color: #7b8b84;
  font-family: 'Arbutus Slab', serif;
  font-size: 1.15vw;
}

.methods{
  color: #063a2b;
  font-family: 'Arbutus Slab', serif;
  font-size: 1vw;
}

.shadow-dark{
  text-shadow: 0vw .2vw .2vw rgba(47, 47, 47, 1);
}

.shadow-light{
  text-shadow: 0vw .1vw .1vw rgb(255, 255, 255);
}

.link{
  color: #247BA0 !important;
  font-family: 'Arbutus Slab', serif;
}

.light{
  color: #ebebeb;
}

.top{
  position: fixed;
  width: 100%;
  top: 1.4vw;
}

.footer{
  position: fixed;
  width: 100%;
  bottom: .25vw;
}

.dark{
  color: #2f2f2f;
}

.control-label{
  font-size: 1.15vw;
  font-weight: 300;
}

.item{
  font-size: 1.15vw;
}

.btn{
  font-size: 1.15vw;
}